
.wrapper{
    width: 300px;
    background-color: rgb(224, 149, 224);
    border-radius: 15px;
    padding : 20px;
    margin:auto; 
    box-shadow: 0px 15px 20px rgba(100, 73, 73, 0.1);
    font-family: 'Kaushan Script', cursive;
    color: rgb(58, 53, 53);
}
.tittle{
    background-color: #4e8ca5 ;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
}
.Image{
    margin-left:75px
}
.Submit{
    background-color: #4e8ca5 ;
    width:100px;
    margin: auto;
    border-radius: 20px;
    margin-top: 2px;
    text-align: center;
    color: white;
    
}
.tittle:hover{
    background: #fff;
    color: rgb(224, 149, 224);
    }
.Kelamin:hover{
    background: #fff;
    color:#4e8ca5 ;
    border-radius: 5px;
    width:250px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Prodi:hover{
    background: #fff;
    color:#4e8ca5 ;
    border-radius: 5px;
    width:250px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Nama:hover{
    background: #fff; 
    color:#4e8ca5 ;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:250px;
}
.Submit:hover{
    background: #fff;
    color: rgb(224, 149, 224);
    font-weight: bolder;
}
.Email:hover{
    background: #fff;
    color:#4e8ca5 ;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:250px;
    }


